<html>
    <head>
        <title>Error - SQL Injection found!</title>

        <style>
            body{
                background: #181818;
                color: #f8f8f8;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #error{
                font-size: clamp(2rem, 4vw, 2.2rem);
                font-weight: bold;
                font-family: "Arial", sans-serif;
                word-wrap: break-word;
            }
        </style>
    </head>

    <body>
        <div id="error">
            <p>Invalid slug name, I know you wanted to inject me with a SQL injection ;D</p>
        </div>
    </body>
</html>